*{
    margin: 0;
    padding: 0;
}
body{
    background-color: burlywood;
}

.menu_bar{
    background-color: rgb(38, 46, 59);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: whitesmoke;
    font-size: 50px;
    padding-left: 50px;
}
.menu_bar ul{
    list-style: none;
    display: flex;
}
.menu_bar ul li{
    padding: 10px 30px;
    position: relative;
}
.menu_bar ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}
.menu_bar ul li a:hover{
    color: rgb(75, 75, 238);
}
.dropdown{
    display: none;
}
.menu_bar ul li:hover .dropdown{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(38, 46, 59);
}
.dropdown ul{
    display: block;
    margin: 20px 50px;
}
.dropdown ul li{
    width: 100px;
    padding: 10px;
}
